@font-face {
    font-family: "Bolshevik";
    src: url("resources/Bolshevik.otf") format("opentype");
    }


body {
    margin: 0;
    padding: 0;
    background-image: url("resources/bkg.jpg");
    background-size: cover;
}
    
#board {
    border-radius: 10px;
    position: fixed;
    top: calc(50% - 504px);
    height: 976px;
    width: 688px;
    margin: 2vh;
    left: calc(50% - 344px - 1vh);
    background-color: rgba(5, 5, 10, 0.6);
}

#title {
    position: absolute;
    color: white;
    font-family: "Bolshevik";
    letter-spacing: 4px;
    font-size: 50px;
    left: 220px;
    top: -15px;
}

#undertitle {
    position: absolute;
    color: white;
    font-family: "Bolshevik";
    left: 260px;
    top: 55px;
}

#sidepanel {
    border: solid 5px white;
    height: 840px;
    margin: 20px;
    margin-top: 100px;
    margin-left: auto;
    width: 233px;
}

#canvas {
    border: solid 5px white;
    position: absolute;
    margin: 20px;
    margin-top: 100px;
}

#nosupport {
    display: none;
}


@media screen and (max-width: 720px) {
    #board {
        display: none;
    }

    #nosupport {
        color: white;
        text-align: center;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        position: fixed;
        background-color: rgba(5, 5, 10, 0.6);
        width: 50vw;
        height: 15vh;
        top: 30vh;
        left: calc(50% - 30vw);
    }

    #nosupport p {
        margin-bottom: auto;
    }
}